<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.ccme.love"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="cc.ccme.love.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cc.ccme.love.person.PersonActivity" >
        </activity>
        <activity android:name="cc.ccme.love.person.PersonEditActivity" >
        </activity>
        <activity android:name="cc.ccme.love.event.EventActivity" >
        </activity>
        <activity android:name="cc.ccme.love.event.EventCreateActivity" >
        </activity>
        <activity android:name="cc.ccme.love.event.EventDetailActivity" >
        </activity>
        <activity android:name="cc.ccme.love.event.EventActivityDetailActivity" >
        </activity>
        <activity android:name="cc.ccme.love.event.EventGuestListActivity" >
        </activity>
        <activity
            android:name="cc.ccme.love.event.EventDialogActivity"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity android:name="cc.ccme.love.album.GalleryActivity" >
        </activity>
        <activity android:name="cc.ccme.love.album.AlbumActivity" >
        </activity>
        <activity android:name="cc.ccme.love.album.AlbumContentActivity" >
        </activity>
        <activity android:name="cc.ccme.love.album.AlbumGalleryActivity" >
        </activity>
        <activity android:name="cc.ccme.love.video.VideoActivity" >
        </activity>
        <activity android:name="cc.ccme.love.video.VideoImagePickActivity" >
        </activity>
        <activity android:name="cc.ccme.love.video.VideoImageSelectBaseActivity" >
        </activity>
        <activity android:name="cc.ccme.love.video.ImagePickActivity" >
        </activity>
        <activity android:name="cc.ccme.love.video.VideoPickActivity" >
        </activity>
        <activity android:name="cc.ccme.love.congrate.CongrateActivity" >
        </activity>
        <activity android:name="cc.ccme.love.congrate.CongratePostActivity" >
        </activity>
        <activity android:name="cc.ccme.love.settings.SettingsActivity" >
        </activity>
    </application>

</manifest>